.btn{
    background-color: #fde012; 
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn:hover{
    background-color:#f58a17 ;
  }

  #logo{
    text-align: center;
    padding-bottom: 2px;
  }